name: CI

on:
  push:
    branches: [ main, master ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      # --------------------
      # LINT
      # --------------------
      - name: Ruff (lint)
        run: |
          ruff check app/core tests

      # --------------------
      # TYPE CHECK
      # --------------------
      - name: Mypy
        run: |
          mypy app --ignore-missing-imports

      # --------------------
      # TESTS + COVERAGE
      # --------------------
      - name: Pytest
        env:
          PYTHONPATH: .
        run: |
         pytest \
          --cov=app/core \
          --cov-report=term-missing \
          --cov-fail-under=70